@import "colors";
@import "icons";
@import "overrides";

body {
  background-color: $grey1;
  color: $grey17;
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}

h1 {
  font-weight: 400;
}

h2 {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.modal-container {
  padding: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
