<div id="prose-editor">
  <div class="chapters">
    @for (chapter of prose.chapters; let chapterIndex = $index; track chapter) {
    <div class="chapter">
      <div class="chapter-heading">
        <h2
          contenteditable="true"
          (keydown)="preventReturnKey($event)"
          (blur)="updateChapterTitle(chapterIndex, $event)"
        >
          {{ chapter.title }}
        </h2>
        <div class="remove-chapter-button-placeholder"></div>
        <i class="icon icon-close" (click)="removeChapter(chapterIndex)"></i>
      </div>
      <div class="sections">
        @for (section of chapter.sections; let sectionIndex = $index; track
        section) {
        <div class="section">
          <div class="section-text">
            <!-- TODO: When there are many WYSIWYG editors, the performance
              is terrible. We could paginate the chapters or use a virtual
              scroll. -->
            <quill-editor
              [styles]="{
                width: '100%',
                textIndent: '3rem',
                fontSize: '1.2rem',
                fontWeight: '300',
                fontFamily: 'Source Serif 4, sans-serif',
                letterSpacing: '0.05rem',
              }"
              (onEditorCreated)="editorInit($event)"
              (onEditorChanged)="
                editorChange($event, chapterIndex, sectionIndex)
              "
              (onBlur)="updateSectionText(section, $event)"
              [ngModel]="section.text"
            ></quill-editor>
          </div>
          <div class="section-summary">
            <div class="section-summary-title">
              <span>SUMMARY</span>
            </div>
            <div
              class="section-summary-content"
              contenteditable="true"
              (keydown)="preventReturnKey($event)"
              (blur)="updateSectionSummary(section, $event)"
            >
              <div>
                {{ section.summary }}
              </div>
            </div>
            <div class="section-actions">
              <div class="section-action">
                <i
                  class="icon icon-ai"
                  (click)="
                    openGenerateSectionSummaryDialog(chapterIndex, sectionIndex)
                  "
                ></i>
              </div>
              <div class="section-action">
                <i
                  class="icon icon-headphones"
                  (click)="textToSpeech(chapterIndex, sectionIndex)"
                ></i>
              </div>
              <div class="section-action">
                <i
                  class="icon icon-close"
                  (click)="removeSection(chapterIndex, sectionIndex)"
                ></i>
              </div>
            </div>
          </div>
        </div>
        }
        <!-- Fake section for padding -->
        <div class="add-section-card-wrapper">
          <div class="add-block-card" (click)="addSection(chapterIndex)">
            <i class="icon icon-plus"></i>
            <span>Add Section</span>
          </div>
        </div>
      </div>
    </div>
    }
    <div class="add-chapter-card-wrapper">
      <div class="add-block-card" (click)="addChapter()">
        <i class="icon icon-plus"></i>
        <span>Add Chapter</span>
      </div>
    </div>
  </div>
  @if (showEditorControls) {
  <div
    class="tooltip-controls"
    [ngStyle]="{
        left: editorControlsPosition.x + 'px',
        top: editorControlsPosition.y + 'px',
      }"
  >
    <div class="tooltip-control" (mousedown)="openGenerateTextDialog()">
      <i class="icon icon-ai"> </i>
      <span>Generate</span>
    </div>
    <!-- TODO: Change icon -->
    <div class="tooltip-control" (mousedown)="openReplaceTextDialog()">
      <i class="icon icon-ai"> </i>
      <span>Replace</span>
    </div>
    <!-- TODO: Change icon -->
    <div class="tooltip-control" (mousedown)="openCreateCompendiumRecordDialog()">
      <i class="icon icon-ai"> </i>
      <span>New record</span>
    </div>
  </div>
  }
</div>
