src/frontend/my-novel-builder/public/whistle/whistle.bin filter=lfs diff=lfs merge=lfs -text
src/frontend/my-novel-builder/public/whistle/needle.js filter=lfs diff=lfs merge=lfs -text
src/frontend/my-novel-builder/public/whistle/needle.wasm filter=lfs diff=lfs merge=lfs -text
