<div class="modal-container">
  <div class="form-container">
    <form [formGroup]="formGroup">
      <div class="form-field">
        <label for="promptId" class="form-field-label">Prompt *</label>
        <p-select
          id="promptId"
          formControlName="promptId"
          [options]="data.prompts"
          optionLabel="name"
          optionValue="id"
          placeholder="Select a prompt"
          [style]="{ width: '100%' }"
        />
      </div>
      @if (showInstructions) {
        <div class="form-field">
          <label for="instructions" class="form-field-label">
            Instructions
            @if (instructionsRequired) {
              *
            }
          </label>
          <textarea
            pTextarea
            id="instructions"
            formControlName="instructions"
            placeholder="The instructions to follow..."
            [autoResize]="true"
            rows="5"
          ></textarea>
        </div>
      }
      <div class="form-field">
        <label for="model" class="form-field-label">Model *</label>
        <p-select
          id="model"
          formControlName="model"
          [options]="models"
          [filter]="true"
          placeholder="Select a model"
          [style]="{ width: '100%' }"
          appendTo="body"
        />
      </div>
      <div class="form-field">
        <div class="form-buttons-container">
          <p-button
            label="Preview"
            (click)="openPreviewDialog()"
            [disabled]="formGroup.invalid"
            variant="text"
          />
          <p-button
            label="Generate"
            (click)="accept()"
            [disabled]="formGroup.invalid"
          />
        </div>
      </div>
    </form>
  </div>
</div>
