<div class="modal-container">
  <h2>Create a record</h2>
  <div class="form-container">
    <form [formGroup]="formGroup">
      <div class="form-row">
        <div class="form-column">
          <div class="form-field">
            <div class="form-field-label">Type *</div>
            <select formControlName="type" placeholder="Select a type">
              @for (type of recordTypes; track type) {
              <option [value]="type">{{ type | titlecase }}</option>
              }
            </select>
          </div>
          <div class="form-field">
            <div class="form-field-label">Name *</div>
            <input
              matInput
              type="text"
              id="name"
              formControlName="name"
              placeholder="My new record"
            />
          </div>
          <div class="form-field">
            <div class="form-field-label">Aliases</div>
            <input
              matInput
              type="text"
              id="aliases"
              formControlName="aliases"
              placeholder="Awesome record, Best record ever"
            />
          </div>
          <div class="form-field">
            <div class="form-field-label">Context</div>
            <textarea
              matInput
              id="context"
              formControlName="context"
              placeholder="This record is about..."
            ></textarea>
          </div>
        </div>
        <div class="form-column">
          <div class="form-field">
            <div class="form-field-label">Image</div>
            @if (imagePreview !== null) {
            <div class="record-image">
              <img [src]="imagePreview" alt="Record Image" />
            </div>
            }
            <input
              type="file"
              (change)="onImageChange($event)"
              accept="image/png"
            />
          </div>
        </div>
      </div>
      <div class="form-field">
        <div class="form-buttons-container">
          <button
            type="submit"
            (click)="createRecord()"
            [disabled]="formGroup.invalid || formGroup.pristine"
          >
            Create
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
