<div class="modal-container">
  <div class="form-container">
    <form [formGroup]="formGroup">
      <div class="form-row">
        <div class="form-column">
          <div class="form-field">
            <label for="title" class="form-field-label">Title *</label>
            <input
              pInputText
              type="text"
              id="title"
              formControlName="title"
              placeholder="My new novel"
            />
          </div>
          <div class="form-field">
            <label for="author" class="form-field-label">Author</label>
            <input
              pInputText
              type="text"
              id="author"
              formControlName="author"
              placeholder="John Doe"
            />
          </div>
          <div class="form-field">
            <label for="brief" class="form-field-label">Brief</label>
            <textarea
              pInputTextarea
              id="brief"
              formControlName="brief"
              placeholder="This story is about..."
              rows="5"
            ></textarea>
          </div>
          <!-- TODO: Add remaining fields (tense, pov, language, MC) -->
        </div>
        <div class="form-column">
          <div class="form-field">
            <div class="form-field-label">Cover</div>
            @if (imagePreview !== null) {
              <div class="novel-cover">
                <img [src]="imagePreview" alt="Cover Image" />
              </div>
            }
            <input
              type="file"
              (change)="onCoverChange($event)"
              accept="image/*"
            />
          </div>
        </div>
      </div>
      <div class="form-field">
        <div class="form-buttons-container">
          <p-button
            label="Create"
            (click)="createNovel()"
            [disabled]="formGroup.invalid || formGroup.pristine"
          />
        </div>
      </div>
    </form>
  </div>
</div>
