<div class="modal-container">
  <h2>Create a novel</h2>
  <div class="form-container">
    <form [formGroup]="formGroup">
      <div class="form-row">
        <div class="form-column">
          <div class="form-field">
            <div class="form-field-label">Title *</div>
            <input
              matInput
              type="text"
              id="title"
              formControlName="title"
              placeholder="My new novel"
            />
          </div>
          <div class="form-field">
            <div class="form-field-label">Author</div>
            <input
              matInput
              type="text"
              id="author"
              formControlName="author"
              placeholder="John Doe"
            />
          </div>
          <div class="form-field">
            <div class="form-field-label">Brief</div>
            <textarea
              matInput
              id="brief"
              formControlName="brief"
              placeholder="This story is about..."
            ></textarea>
          </div>
          <!-- TODO: Add remaining fields (tense, pov, language, MC) -->
        </div>
        <div class="form-column">
          <div class="form-field">
            <div class="form-field-label">Cover</div>
            @if (imagePreview !== null) {
            <div class="novel-cover">
              <img [src]="imagePreview" alt="Cover Image" />
            </div>
            }
            <input
              type="file"
              (change)="onCoverChange($event)"
              accept="image/*"
            />
          </div>
        </div>
      </div>
      <div class="form-field">
        <div class="form-buttons-container">
          <button
            type="submit"
            (click)="createNovel()"
            [disabled]="formGroup.invalid || formGroup.pristine"
          >
            Create
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
