<p-confirmDialog></p-confirmDialog>

<div class="prompt-container">
  <div class="prompt-editor">
    <div class="prompt">
      <div class="prompt-name">
        <div class="label">
          <span>Name</span>
        </div>
        <input
          pInputText
          type="text"
          [(ngModel)]="prompt.name"
          (blur)="onBlur()"
        />
      </div>
      <!-- The type cannot be changed -->
      <div class="prompt-type">
        <div class="label">
          <span>Type: {{ prompt.type | spaced }}</span>
        </div>
      </div>
      <div class="prompt-messages-title">
        <h3>Messages</h3>
      </div>
      <div class="prompt-messages">
        @for (message of prompt.messages; track message.message) {
        <div class="prompt-message">
          <div class="label">
            <span>{{ message.role | titlecase }}</span>
            <i class="icon icon-close" (click)="removeMessage(message)"></i>
          </div>
          <textarea
            pInputTextarea
            [(ngModel)]="message.message"
            (blur)="onBlur()"
            [autoResize]="true"
          ></textarea>
        </div>
        }
      </div>
      <div class="prompt-actions-container">
        <div class="prompt-messages-actions">
          <p-button
            label="+ System"
            (click)="addMessage(PromptMessageRole.System)"
            styleClass="add-message"
            variant="text"
          />
          <p-button
            label="+ User"
            (click)="addMessage(PromptMessageRole.User)"
            styleClass="add-message"
            variant="text"
          />
          <p-button
            label="+ Assistant"
            (click)="addMessage(PromptMessageRole.Assistant)"
            styleClass="add-message"
            variant="text"
          />
        </div>
        <div class="prompt-actions">
          <p-button
            label="Delete Prompt"
            (click)="removePrompt()"
            severity="danger"
            [outlined]="true"
          />
        </div>
      </div>
    </div>
  </div>
</div>
