<div class="compendium-container">
  <h1>Compendium</h1>
  @if (compendium === null) {
  <p>Loading...</p>
  } @else {
  <div class="compendium-editor">
    <div class="compendium">
      <div class="compendium-metadata">
        <div class="compendium-name">
          <div class="label">
            <span>Name</span>
          </div>
          <input
            ngDefaultControl
            type="text"
            [(ngModel)]="compendium.name"
            (blur)="updateCompendium()"
          />
        </div>
        <div class="compendium-description">
          <div class="label">
            <span>Description</span>
          </div>
          <textarea
            ngDefaultControl
            [(ngModel)]="compendium.description"
            (blur)="updateCompendium()"
          ></textarea>
        </div>
      </div>
      @if (records !== null) {
      <div class="compendium-records">
        <div class="compendium-records-actions">
          <button class="add-record" (click)="openCreateRecordDialog()">
            Add Record
          </button>
        </div>
        @for (type of compendiumRecordTypes; track type) {
        <div class="compendium-records-type">
          <div class="compendium-records-type-name">
            <span>{{ type | titlecase }}s</span>
          </div>
          <div class="compendium-records-list">
            @for (record of getRecordsOfType(type); track record.id) {
            <div class="compendium-record">
              <div class="compendium-record-image">
                @if (getRecordImage(record) !== null) {
                <img
                  src="{{ getRecordImage(record) }}"
                  alt="{{ record.name }}"
                />
                } @else {
                <div class="no-image">
                  <i class="icon icon-compendium"></i>
                </div>
                }
              </div>
              <div class="compendium-record-name">
                <span>{{ record.name }}</span>
              </div>
            </div>
            }
          </div>
        </div>
        }
      </div>
      }
    </div>
  </div>
  }
</div>
