@use "../../../styles/colors" as *;

.dialog-form {
  display: grid;
  gap: 16px;
}

.form-field {
  display: grid;
  gap: 8px;
}

label {
  font-size: 0.95rem;
  font-weight: 600;
}

.selected-file {
  color: $grey11;
  font-size: 0.9rem;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
}
