<div class="novel-editor">
  @if (novel === null || compendia === null || prompts === null) {
  <p>Loading...</p>
  } @else {
  <div class="novel-editor-header">
    @if (novel.coverImageUrl !== null) {
    <div class="novel-editor-header-cover">
      <img
        [routerLink]="['/novel', novel.id]"
        src="{{ novel.coverImageUrl }}"
        alt="{{ novel.title }}"
      />
    </div>
    }
    <div class="novel-editor-header-title">
      <span>{{ novel.title }}</span>
    </div>
    <div class="novel-editor-header-actions">
      <button [routerLink]="['/novel', novel.id, 'settings']">Settings</button>
    </div>
  </div>
  <div class="novel-editor-body">
    <div class="compendia-sidebar">
      <div class="compendium-filters">
        <select
          ngDefaultControl
          [(ngModel)]="selectedCompendium"
          placeholder="Select a compendium"
        >
          <option [ngValue]="null">All Compendia</option>
          @for (compendium of compendia; track compendium.id) {
          <option [ngValue]="compendium">{{ compendium.name }}</option>
          }
        </select>
        <input
          ngDefaultControl
          type="text"
          placeholder="Search records..."
          [(ngModel)]="recordsFilter"
        />
      </div>
      <div class="compendium-records">
        @for (type of compendiumRecordTypes; track type) { @if
        (getCompendiumRecordsByType(type).length > 0) {
        <div class="compendium-records-type">
          <div class="compendium-records-type-name">
            <span>{{ type | spaced }}s</span>
          </div>
          <div class="compendium-records-list">
            @for (record of getCompendiumRecordsByType(type); track record.id) {
            <div
              class="compendium-record"
              [class.selected]="selectedRecordOverview === record"
              (click)="selectRecord(record)"
            >
              <div class="compendium-record-image">
                @if (record.imageUrl !== null) {
                <img src="{{ record.imageUrl }}" alt="{{ record.name }}" />
                } @else {
                <div class="no-image">
                  <i class="icon icon-compendium"></i>
                </div>
                }
              </div>
              <div class="compendium-record-name">
                <span>{{ record.name }}</span>
              </div>
            </div>
            }
          </div>
        </div>
        } }
      </div>
    </div>
    @if (selectedRecord !== null) {
    <div class="record-sidebar">
      <div class="record-header">
        <div class="record-name">
          <span>{{ selectedRecord.name }}</span>
        </div>
        <div class="record-type">
          <span>{{ selectedRecord.type | spaced }}</span>
        </div>
        @if (selectedRecord.aliases.length > 0) {
        <div class="record-aliases">
          <span>Aliases: {{ selectedRecord.aliases }}</span>
        </div>
        } @if (selectedRecord.alwaysIncluded) {
        <div class="record-always-included">
          <span>Always included</span>
        </div>
        }
      </div>
      <div class="record-images-grid">
        @for (image of selectedRecord.images; track image.id) {
        <div
          (click)="floatImage(image)"
          class="record-image"
          [class.place-image]="
            selectedRecord.type === CompendiumRecordType.Place
          "
          [class.floated]="isFloatedImage(image)"
        >
          <img src="{{ image.url }}" alt="{{ image.id }}" />
        </div>
        }
      </div>
      <div class="record-context">
        <p>{{ selectedRecord.context }}</p>
      </div>
    </div>
    }
    <div class="prose-editor-wrapper">
      @if (prose !== null) {
      <app-prose-editor
        [novelId]="novelId"
        [prose]="prose"
        [prompts]="prompts"
        (proseChange)="updateProse($event)"
      ></app-prose-editor>
      }
    </div>
    @if (floatedImages.length > 0) {
    <div class="floating-images-sidebar">
      @for (image of floatedImages; track image.id) {
      <div
        class="floating-image"
        (mouseenter)="lastHoveredFloatingImageId = image.id"
        [class.last-hovered]="lastHoveredFloatingImageId === image.id"
      >
        <img
          src="{{ image.url }}"
          alt="{{ image.id }}"
          (click)="zoomImage(image)"
        />
        @if (image.id === lastHoveredFloatingImageId) {
        <i
          class="floating-image-remove icon icon-close"
          (click)="floatImage(image)"
        ></i>
        }
      </div>
      }
    </div>
    }
  </div>
  @if (zoomedImage !== null) {
  <div class="zoomed-image-overlay" (click)="unzoomImage()">
    <div class="zoomed-image">
      <img src="{{ zoomedImage.url }}" alt="{{ zoomedImage.id }}" />
    </div>
  </div>
  } }
</div>
