@import "variables";

.main-layout-container {
  width: 100%;

  main-layout-header {
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  .page-content {
    padding-top: calc($mainLayoutHeaderHeight);
    width: 100%;
  }
}
