<div class="compendium-record-container">
  <div class="compendium-record-editor">
    <div class="compendium-record">
      <div class="compendium-record-name">
        <div class="label">
          <span>Name</span>
        </div>
        <input
          ngDefaultControl
          type="text"
          [(ngModel)]="record.name"
          (blur)="onBlur()"
        />
      </div>
      <!-- The type cannot be changed -->
      <div class="compendium-record-type">
        <div class="label">
          <span>Type: {{ record.type | titlecase }}</span>
        </div>
      </div>
      <div class="compendium-record-aliases">
        <div class="label">
          <span>Aliases</span>
        </div>
        <input
          ngDefaultControl
          type="text"
          [(ngModel)]="record.aliases"
          (blur)="onBlur()"
        />
      </div>
      <div class="compendium-record-always-included">
        <div class="label">
          <span>Always Included</span>
        </div>
        <input
          ngDefaultControl
          type="checkbox"
          [(ngModel)]="record.alwaysIncluded"
          (blur)="onBlur()"
        />
      </div>
      <div class="compendium-record-context">
        <div class="label">
          <span>Context</span>
        </div>
        <textarea
          ngDefaultControl
          [(ngModel)]="record.context"
          (blur)="onBlur()"
        ></textarea>
      </div>
      <div class="compendium-record-media-container">
        <div class="label">
          <span>Media</span>
        </div>
        <div class="compendium-record-media-grid">
          @for (media of record.media; track media.id) {
            <div
              class="compendium-record-media"
              [class.current]="media.isCurrent"
              [class.place-media]="record.type === CompendiumRecordType.Place"
            >
              @if (!media.isVideo) {
                <img
                  src="{{ media.url }}"
                  alt="{{ record.name }}"
                  (click)="setCurrentImage(media.id)"
                />
              } @else {
                <video
                  autoplay muted loop
                  src="{{ media.url }}"
                ></video>
              }

              <i
                class="compendium-record-media-remove icon icon-close"
                (click)="removeMedia(media.id)"
              ></i>
            </div>
          }
          <div
            class="add-compendium-record-media"
            [class.place-media]="record.type === CompendiumRecordType.Place"
            (click)="addMedia()"
          >
            <i class="icon icon-plus"></i>
            <span>Upload</span>
          </div>
          <div
            class="add-compendium-record-media"
            [class.place-media]="record.type === CompendiumRecordType.Place"
            (click)="generateImage()"
          >
            <i class="icon icon-plus"></i>
            <span>Generate</span>
          </div>
        </div>
      </div>
      <div class="compendium-record-actions">
        <button class="button-outline" (click)="removeRecord()">
          Delete Record
        </button>
      </div>
    </div>
  </div>
</div>
