$grey1: #1c1e22;
$grey2: #222427;
$grey3: #28292c;
$grey4: #2e2f31;
$grey5: #333435;
$grey6: #393a3a;
$grey7: #3f3f3f;
$grey8: #4b4c4d;
$grey9: #58585a;
$grey10: #646568;
$grey11: #707175;
$grey12: #7d7e83;
$grey13: #898a90;
$grey14: #96979e;
$grey15: #a2a4ab;
$grey16: #aeb0b9;
$grey17: #bbbdc6;
$grey18: #c7c9d4;
$grey19: #d3d6e1;
$grey20: #e0e2ef;
$grey21: #eceffc;

$grey1filter: brightness(0) saturate(100%) invert(6%) sepia(19%) saturate(589%)
  hue-rotate(181deg) brightness(96%) contrast(86%);

$grey13filter: brightness(0) saturate(100%) invert(65%) sepia(1%)
  saturate(1612%) hue-rotate(194deg) brightness(83%) contrast(98%);
